
* {
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    /* width: 50%; */
    /* border: 3px solid green; */
}

body {
    background-color: rgb(221, 221, 221);
}

h5 {
    position: relative;
    top: -15px;
    left: 70px;
    width: 50%;
    /* border: solid; */
    overflow: hidden;
}

#title_sep {
    position: relative;
    top: -15px;
    height: 7px;
    width: 30%;
    padding: 0px;
    /* background-color: #000; */
    border-radius: 100px;
}

input[type=range] {
    padding: 2px;
}

#ip_textarea {
    width: 80%;
    padding: 20px;
    margin: 20px;
    border: 3px solid #000;
    border-radius: 10px;
    font-size: 120%;
    background-color: rgb(242, 242, 242);
}

#op_textarea {
    width: 80%;
    padding: 20px;
    margin: 20px;
    border: 3px solid #000;
    border-radius: 10px;
    font-size: 120%;
    background-color: rgb(228, 231, 230);

}

button {
    margin: 10px;
    padding: 10px;
}


#btns {

    text-align: center;

}

.gen_text {
    margin: 5px;
}










button {
    display: inline-block;
    border-radius: 6px;
    border: solid;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px;
    border-color: rgb(0, 0, 109);
    /* background-color: rgb(156, 255, 176); */
}

button:hover {
    background-color:rgb(0, 0, 109);
    color: #fff;
}

#change_text {
    border-color: #067506;
    color: #000;
}
#change_text:hover {
    background-color: #067506;
    color: #fff;
}

#clear_text {
    border-color: #9e034b;
    color: #000;
}
#clear_text:hover {
    background-color: #9e034b;
    color: #fff;
}

#paste_ip {
    border-color: #028599;
    color: #000;
}
#paste_ip:hover {
    background-color: #028599;
    color: #fff;
}

#copy_op {
    border-color: #4c00b0;
    color: #000;
}
#copy_op:hover {
    background-color: #4c00b0;
    color: #fff;
}


button:active {
    font-size: 120%;
}












.slider {
    -webkit-appearance: none;
    width: 20%;
    height: 10px;
    border-radius: 20px;
    background: #01a3bb;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: #9e034b;
    cursor: pointer;
    box-shadow: 3px 3px 70px #000;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #9e034b;
    cursor: pointer;
}

#slider_value {
    font-weight: bolder;
}






@font-face {
    font-family: font_me;
    src: url(./4.ttf );
}



#john_bg {
    width: 500px;
    height: 500px;
    background-color: #9e034b;
    position: fixed;
    bottom: -340px;
    right: -340px;
    opacity: .7;
    transform: rotate(45deg);
    z-index: 2;
}

#john_mn {
    color: #fff;
    font-size: 54px;
    position: fixed;
    bottom: 20px;
    right: 0px;
    opacity: 1;
    transform: rotate(-45deg);
    font-family: font_me;
    z-index: 3;
}


#chars_holder {
    position: fixed;
    height: 100%;
    width: 30%;
    top: -5px;
    /* right: -5px; */
    right: -40%;
    border: solid;
    border-radius: 5px;
    border-color: #0c5048;
    background-color: #b5fcf4;
    transition: right .5s;
    opacity: 0.9;
    z-index: 5;
    overflow: scroll;
    box-shadow: 0px 0px 100px #000;
}

#chars_holder_x {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 120%;
    z-index: 10;
    cursor: pointer;


    display: inline-block;
    border-radius: 100px;
    border: solid;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 15px;

}

.settings_open {
    border-color: #047045;
    color: #047045;
    background-color: #cdf9e7;
}
.settings_open:hover {
    background-color: #047045;
    color: #fff;
    border-color: #033f27;
}
.settings_close {
    border-color: #9e034b;
    color: #9e034b;
    background-color: #ffdbec; 
}
.settings_close:hover {
    background-color: #9e034b;
    color: #fff;
    border-color: #480323;
}



#settings_title {
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: bolder;
    font-size: 180%;
    position: sticky;
    top: -30px;
    z-index: 8;
    background-color: #6ef5e5;
    box-shadow: 0px 2px 5px #03302b;
    border-radius: 0px 0px 8px 8px;
}




.s_block {
    /* border: solid 5px; */
    margin-top: 10px;
    background-color: #90fff2;
    box-shadow: 0px 0px 10px #02443c;
    border-radius: 8px 8px 8px 8px;
}

.s_block_title {
    font-weight: bold;
    font-size: 120%;
    border-bottom: solid;
}


#choosen_chars {
    font-size: 120%;
}

.char_chose_chars {
    position: relative;
    top: -5px;
}
.char_chose_check {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#latex_info {
    font-size: 70%;
}

.single_check_and_char {
    /* border: solid; */
    padding: 2px;
}